<launch>
    <arg name="map_type" default="complex" />

    <!-- size of map, change the size in x, y, z according to your application -->
    <arg name="map_size_x" value="40.0" />
    <arg name="map_size_y" value="40.0" />
    <arg name="map_size_z" value="5.0" />

    <!-- 初始位置 -->
    <arg name="init_x_" value="0.0" />
    <arg name="init_y_" value="0.0" />
    <arg name="init_z_" value="1.0" />

    <!-- 话题名称 -->
    <arg name="odom_topic" value="/lidar_slam/odom" />
    <arg name="global_cloud_topic" default="/global_cloud_topic" />
    <arg name="frame_id" default="world" />

    <param name="add_boundary" type="bool" value="false" />
    <param name="is_bridge" type="bool" value="false" />
    <param name="downsample_res" type="double" value="0.1" />

    <node name="pipc" pkg="pipc" type="pipc_node" output="screen">
        <!-- publish topic -->
        <remap from="~cmd" to="/planning/pos_cmd" />
        <remap from="~astar_path" to="/astar/path" />
        <remap from="~grid_map" to="/astar/grid_map" />
        <remap from="~sfc" to="/mkr_arr" />
        <remap from="~mpc_path" to="/mpc/path" />
        <remap from="~px4ctrl" to="/mavros/setpoint_raw/attitude" />

        <!-- subscribe topic -->
        <!-- <remap from="local_pc" to="/pcl_render_node/cloud" /> -->
        <remap from="~local_pc" to="/virtual_map/pointcloud2" />
        <remap from="~static_pc" to="/virtual_map/static_map" />
        <!-- <remap from="~static_pc" to="/global_sensing/pointcloud2" /> -->
        <!-- <remap from="~static_pc" to="/map_generator/global_cloud" /> -->
        <remap from="~odom" to="/lidar_slam/odom" />
        <remap from="~imu" to="/lidar_slam/imu" />
        <remap from="~goal" to="/goal" />
        <remap from="~rc_in" to="/mavros/rc/in" />

        <!-- Read yaml file -->
        <rosparam command="load" file="$(find pipc)/config/test_params.yaml" />
    </node>


    <!-- 点云处理 -->
    <node name="pointcloud_processor" pkg="pointcloud_processor" type="pointcloud_processor_node" output="screen">
        <param name="pointcloud_processor/local_map" value="/virtual_map/pointcloud2" />
        <param name="pointcloud_processor/static_map" value="/virtual_map/static_map" />
        <param name="pointcloud_processor/obstacle_box" value="/virtual_map/obstacle_box" />
    </node>

    <node pkg="nodelet" type="nodelet" name="manager" args="manager" output="screen">
        <param name="num_worker_threads" value="16" />
    </node>

    <node pkg="nodelet" type="nodelet" name="so3_quadrotor" args="load so3_quadrotor/Nodelet manager" output="screen">
        <rosparam file="$(find test_interface)/config/so3_quadrotor.yaml" />

        <param name="init_x" value="$(arg init_x_)" />
        <param name="init_y" value="$(arg init_y_)" />
        <param name="init_z" value="$(arg init_z_)" />
        <remap from="~odom" to="/lidar_slam/odom" />
        <remap from="~so3cmd" to="so3_cmd" />
        <remap from="~imu" to="/lidar_slam/imu" />
        <remap from="~vis" to="vis" />
    </node>

    <node pkg="nodelet" type="nodelet" name="so3_controller" args="load so3_controller/Nodelet manager" output="screen">
        <rosparam file="$(find test_interface)/config/so3_controller.yaml" />

        <remap from="~odom" to="/lidar_slam/odom" />
        <remap from="~so3cmd" to="so3_cmd" />
        <remap from="~imu" to="/lidar_slam/imu" />
        <remap from="~position_cmd" to="/planning/pos_cmd" />
    </node>


    <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization" output="screen">
        <remap from="~odom" to="/lidar_slam/odom" />
        <param name="mesh_resource" value="package://odom_visualization/meshes/yunque-M.dae" />
        <param name="tf45" value="true" />
        <param name="color/a" value="1.0" />
        <param name="color/r" value="1.0" />
        <param name="color/g" value="1.0" />
        <param name="color/b" value="1.0" />
        <param name="covariance_scale" value="100.0" />
        <param name="robot_scale" value="1.0" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pipc)/rviz/test.rviz" />

</launch>
